
h1 { 
    text-align: left; 
    font-size: 170%;
    font-weight: normal;
    height: 80px;
    margin: 0px;
    padding-left: 220px;
    background-image: url("debian.png");
    background-repeat: no-repeat;
}
h1 > a {
  color: #800000;
}
body {
    background-color: white;
    font-size: 90%;
    font-family: sans-serif;
}
#body {
    position: absolute;
    left: 0px;
    top: 60px;
}
ul {
    list-style-type: square;
}

/* Tables */
table.containertable {
    width: 100%;
    clear: both;
    padding-top: 10px;
}
table.lefttable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #800000;
}
table.righttable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #800000;
}
table.lefttable + table.lefttable {
    margin-top: 7px;
}
table.righttable + table.righttable {
    margin-top: 7px;
}
td.containercell {
    padding: 5px;
}
td.titlecell { 
    color: #800000;
    background-color: #bfae8f;
    border: 1px solid #800000;
    text-align: center;
    padding: 2px;
}
td.labelcell {
    border: 1px solid #800000;
    padding: 1px;
}
td.contentcell {
    text-align: center;
    padding: 1px;
    border: 1px solid #800000;
}
td.contentcell2 {
    text-align: left;
    padding: 1px;
    border: 1px solid #800000;
}

/* Links */
a {
    text-decoration: none;
    color:#5d5d5d;
    background-color:transparent;
}
a:hover {
    text-decoration: underline;
}

/* rendering for RSS link, shamelessly copied from ikiwiki */
a.feedlink {
  background: #ff6600;
  color: white !important;
  border-left: 1px solid #cc9966;
  border-top: 1px solid #ccaa99;
  border-right: 1px solid #993300;
  border-bottom: 1px solid #331100;
  padding: 0px 1px 0px 1px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 80%;
  text-decoration: none;
  margin-top: 1em;
}

.dm-tag {
  /* someone please provide an icon-like rendering for this ... */
  font-size: 70%;
  padding-left: 2px;
  padding-right: 2px;
}

.lownmu-tag {
  /* someone please provide an icon-like rendering for this ... */
  font-size: 70%;
  padding-left: 2px;
  padding-right: 2px;
}

td > ul {
    padding-left: 10px;
    margin: 0;
    margin-left: 5px;
}
#news-list {
    max-height: 30em;
    overflow: auto;
}

li > ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

form > p {
	margin: 0;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

#src_files ul {
  padding: 0;
}
.srcfile {
  display: inline;
  font-family: monospace;
  padding-left: 1px;
  padding-right: 1px;
}

#bugs_rc { font-size: small; }
#bugs_in { font-size: small; }
#bugs_mw { font-size: small; }
#bugs_fp { font-size: small; }
span.indented { margin-left: 1em; }

#todo {
  background-color: #800000;
  color: #bfae8f !important;
  font-weight: bold;
}
#problems {
  background-color: #800000;
  color: #bfae8f !important;
  font-weight: bold;
}
a img { border: none; }

div.footer {
  font-size: 8pt;
}

hr{border:0;height:1px;color:#8cacbb;background-color:#8cacbb;margin:0.5em 0 1em 0;}

.codesearch {
	max-width: 90%;
	-moz-box-sizing: border-box; /* Mozilla haven't unprefixed yet */
	box-sizing: border-box;
}
